

html,body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-size:cover; 
  box-sizing:border-box;
  background-position:center center;
  background-attachment: fixed;
  background-color:gray;
  background-repeat:no-repeat;
  text-align:center;
  justify-content: center;
  height:100%;
  display:flex;
  align-items: center;
  background-image:url("./images/fog.jpg");
  margin-top:50px;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Title{

justify-content: center;
height:100%;
display:flex;


};

